{
  "swagger": "2.0",
  "info": {
    "title": "Future Vuls Public API",
    "description": "Future Vuls Public API",
    "contact": {
      "name": "FutureVuls",
      "url": "https://futurevuls.tayori.com/form/1dd23480d6f0f7a0dd066f03be8ed7d1b41d10e7"
    },
    "version": "v1"
  },
  "host": "rest.2119e7c929.vuls.biz",
  "consumes": [
    "application/json",
    "application/xml",
    "application/gob"
  ],
  "produces": [
    "application/json",
    "application/xml",
    "application/gob"
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "health health",
        "description": "health",
        "externalDocs": {
          "description": "Health",
          "url": "https://vuls.biz/"
        },
        "operationId": "health#health",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "type": "boolean"
            }
          }
        },
        "schemes": [
          "http"
        ]
      }
    },
    "/v1/cve/{cveID}": {
      "get": {
        "tags": [
          "cve"
        ],
        "summary": "getCveDetail cve",
        "description": "cve detail",
        "externalDocs": {
          "description": "Get Cve Detail",
          "url": "https://vuls.biz/"
        },
        "operationId": "cve#getCveDetail",
        "parameters": [
          {
            "name": "cveID",
            "in": "path",
            "description": "Cve ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CveGetCveDetailResponseBody",
              "required": [
                "cveID",
                "tmpMetricV2",
                "tmpMetricV3",
                "secMetrics",
                "envMetricV2s",
                "envMetricV3s",
                "references",
                "cwes",
                "serverOsFamilies",
                "cvss",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/v1/cves": {
      "get": {
        "tags": [
          "cve"
        ],
        "summary": "getCveList cve",
        "description": "cve list",
        "externalDocs": {
          "description": "Get Cve List",
          "url": "https://vuls.biz/"
        },
        "operationId": "cve#getCveList",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page Number",
            "required": false,
            "type": "integer",
            "default": 1,
            "minimum": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "required": false,
            "type": "integer",
            "default": 20,
            "maximum": 1000,
            "minimum": 1
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset",
            "required": false,
            "type": "integer",
            "default": 0,
            "minimum": 0
          },
          {
            "name": "filterServerID",
            "in": "query",
            "description": "ServerID filter",
            "required": false,
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "filterRoleID",
            "in": "query",
            "description": "ServerRoleID filter",
            "required": false,
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "filterPkgID",
            "in": "query",
            "description": "PackageID filter",
            "required": false,
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "filterCpeID",
            "in": "query",
            "description": "CpeID filter",
            "required": false,
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CveGetCveListResponseBody"
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/v1/lockfile": {
      "post": {
        "tags": [
          "lockfile"
        ],
        "summary": "addLockfile lockfile",
        "description": "add lockfile",
        "externalDocs": {
          "description": "Add Lockfile",
          "url": "https://vuls.biz/"
        },
        "operationId": "lockfile#addLockfile",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          },
          {
            "name": "AddLockfileRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LockfileAddLockfileRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/LockfileAddLockfileResponseBody",
              "required": [
                "id",
                "path",
                "fileContent",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/v1/lockfile/{lockfileID}": {
      "get": {
        "tags": [
          "lockfile"
        ],
        "summary": "getLockfileDetail lockfile",
        "description": "lockfile detail",
        "externalDocs": {
          "description": "Get Lockfile Detail",
          "url": "https://vuls.biz/"
        },
        "operationId": "lockfile#getLockfileDetail",
        "parameters": [
          {
            "name": "lockfileID",
            "in": "path",
            "description": "Lockfile ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/LockfileGetLockfileDetailResponseBody",
              "required": [
                "id",
                "path",
                "fileContent",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      },
      "put": {
        "tags": [
          "lockfile"
        ],
        "summary": "updateLockfile lockfile",
        "description": "update lockfile",
        "externalDocs": {
          "description": "Update Lockfile",
          "url": "https://vuls.biz/"
        },
        "operationId": "lockfile#updateLockfile",
        "parameters": [
          {
            "name": "lockfileID",
            "in": "path",
            "description": "Lockfile ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          },
          {
            "name": "UpdateLockfileRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LockfileUpdateLockfileRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/LockfileUpdateLockfileResponseBody",
              "required": [
                "id",
                "path",
                "fileContent",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "lockfile"
        ],
        "summary": "deleteLockfile lockfile",
        "description": "lockfile delete",
        "externalDocs": {
          "description": "Delete Lockfile",
          "url": "https://vuls.biz/"
        },
        "operationId": "lockfile#deleteLockfile",
        "parameters": [
          {
            "name": "lockfileID",
            "in": "path",
            "description": "Lockfile ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response."
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/v1/lockfiles": {
      "get": {
        "tags": [
          "lockfile"
        ],
        "summary": "getLockfileList lockfile",
        "description": "lockfile list",
        "externalDocs": {
          "description": "Get Lockfile List",
          "url": "https://vuls.biz/"
        },
        "operationId": "lockfile#getLockfileList",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page Number",
            "required": false,
            "type": "integer",
            "default": 1,
            "minimum": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "required": false,
            "type": "integer",
            "default": 20,
            "maximum": 1000,
            "minimum": 1
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset",
            "required": false,
            "type": "integer",
            "default": 0,
            "minimum": 0
          },
          {
            "name": "filterServerID",
            "in": "query",
            "description": "ServerID filter",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "filterPath",
            "in": "query",
            "description": "Path filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/LockfileGetLockfileListResponseBody"
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/v1/pkgCpe/cpe": {
      "post": {
        "tags": [
          "pkgCpe"
        ],
        "summary": "addCpe pkgCpe",
        "description": "add cpe",
        "externalDocs": {
          "description": "Add cpe",
          "url": "https://vuls.biz/"
        },
        "operationId": "pkgCpe#addCpe",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          },
          {
            "name": "AddCpeRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PkgCpeAddCpeRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/PkgCpeAddCpeResponseBody",
              "required": [
                "id",
                "name",
                "version",
                "server",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "pkgCpe"
        ],
        "summary": "deleteCpe_deprecated pkgCpe",
        "description": "[deprecated] urlにcpeIDを指定して利用してください。cpeIDの指定のないこちらのアクセス方法は今後削除されます。",
        "externalDocs": {
          "description": "Delete cpe Detail",
          "url": "https://vuls.biz/"
        },
        "operationId": "pkgCpe#deleteCpe_deprecated",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          },
          {
            "name": "deleteCpe_deprecated_request_body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PkgCpeDeleteCpeDeprecatedRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response."
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/v1/pkgCpe/cpe/{cpeID}": {
      "get": {
        "tags": [
          "pkgCpe"
        ],
        "summary": "getCpeDetail pkgCpe",
        "description": "cpe detail",
        "externalDocs": {
          "description": "Get cpe Detail",
          "url": "https://vuls.biz/"
        },
        "operationId": "pkgCpe#getCpeDetail",
        "parameters": [
          {
            "name": "cpeID",
            "in": "path",
            "description": "cpe ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/PkgCpeGetCpeDetailResponseBody",
              "required": [
                "id",
                "name",
                "version",
                "server",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "pkgCpe"
        ],
        "summary": "deleteCpe pkgCpe",
        "description": "delete cpe (urlにcpeIDを指定してください。cpeIDの指定のないアクセス方法は今後削除されます。)",
        "externalDocs": {
          "description": "Delete cpe Detail",
          "url": "https://vuls.biz/"
        },
        "operationId": "pkgCpe#deleteCpe",
        "parameters": [
          {
            "name": "cpeID",
            "in": "path",
            "description": "cpe ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response."
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/v1/pkgCpe/pkg/{pkgID}": {
      "get": {
        "tags": [
          "pkgCpe"
        ],
        "summary": "getPkgDetail pkgCpe",
        "description": "pkg detail",
        "externalDocs": {
          "description": "Get Pkg Detail",
          "url": "https://vuls.biz/"
        },
        "operationId": "pkgCpe#getPkgDetail",
        "parameters": [
          {
            "name": "pkgID",
            "in": "path",
            "description": "PackageID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/PkgCpeGetPkgDetailResponseBody",
              "required": [
                "name",
                "version",
                "release",
                "server",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/v1/pkgCpes": {
      "get": {
        "tags": [
          "pkgCpe"
        ],
        "summary": "getPkgCpeList pkgCpe",
        "description": "pkgCpe list",
        "externalDocs": {
          "description": "Get PkgCpe List. Calling pkgCpes without filters can be very time-consuming. It is recommended that you specify filter as much as possible.",
          "url": "https://vuls.biz/"
        },
        "operationId": "pkgCpe#getPkgCpeList",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page Number",
            "required": false,
            "type": "integer",
            "default": 1,
            "minimum": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "required": false,
            "type": "integer",
            "default": 20,
            "maximum": 1000,
            "minimum": 1
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset",
            "required": false,
            "type": "integer",
            "default": 0,
            "minimum": 0
          },
          {
            "name": "filterCveID",
            "in": "query",
            "description": "CveID filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "filterTaskID",
            "in": "query",
            "description": "TaskID filter",
            "required": false,
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "filterServerID",
            "in": "query",
            "description": "ServerID filter",
            "required": false,
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "filterRoleID",
            "in": "query",
            "description": "ServerRoleID filter",
            "required": false,
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/PkgCpeGetPkgCpeListResponseBody"
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/v1/role/{roleID}": {
      "get": {
        "tags": [
          "role"
        ],
        "summary": "getRoleDetail role",
        "description": "role detail",
        "externalDocs": {
          "description": "Get Role Detail",
          "url": "https://vuls.biz/"
        },
        "operationId": "role#getRoleDetail",
        "parameters": [
          {
            "name": "roleID",
            "in": "path",
            "description": "Role ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/RoleGetRoleDetailResponseBody",
              "required": [
                "id",
                "name",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      },
      "put": {
        "tags": [
          "role"
        ],
        "summary": "updateRole role",
        "description": "update role",
        "externalDocs": {
          "description": "Update Role",
          "url": "https://vuls.biz/"
        },
        "operationId": "role#updateRole",
        "parameters": [
          {
            "name": "roleID",
            "in": "path",
            "description": "Role ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          },
          {
            "name": "UpdateRoleRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoleUpdateRoleRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/RoleUpdateRoleResponseBody",
              "required": [
                "id",
                "name",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "role"
        ],
        "summary": "deleteRole role",
        "description": "role delete",
        "externalDocs": {
          "description": "Delete Role",
          "url": "https://vuls.biz/"
        },
        "operationId": "role#deleteRole",
        "parameters": [
          {
            "name": "roleID",
            "in": "path",
            "description": "Role ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response."
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/v1/roles": {
      "get": {
        "tags": [
          "role"
        ],
        "summary": "getRoleList role",
        "description": "role list",
        "externalDocs": {
          "description": "Get Role List",
          "url": "https://vuls.biz/"
        },
        "operationId": "role#getRoleList",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page Number (default: 1)",
            "required": false,
            "type": "integer",
            "default": 1,
            "minimum": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit (default: 20, max: 100)",
            "required": false,
            "type": "integer",
            "default": 20,
            "maximum": 1000,
            "minimum": 1
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset",
            "required": false,
            "type": "integer",
            "default": 0,
            "minimum": 0
          },
          {
            "name": "filterCveID",
            "in": "query",
            "description": "CveID filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/RoleGetRoleListResponseBody"
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/v1/server/paste": {
      "post": {
        "tags": [
          "server"
        ],
        "summary": "createPkgPasteServer server",
        "description": "create paste server",
        "externalDocs": {
          "description": "Create Paste Server",
          "url": "https://vuls.biz/"
        },
        "operationId": "server#createPkgPasteServer",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          },
          {
            "name": "CreatePkgPasteServerRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerCreatePkgPasteServerRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ServerCreatePkgPasteServerResponseBody",
              "required": [
                "id",
                "serverUuid",
                "hostUuid",
                "serverName",
                "serverIpv4",
                "platformName",
                "platformInstanceId",
                "serverroleId",
                "serverroleName",
                "osFamily",
                "osVersion",
                "needKernelRestart",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/v1/server/paste/{serverID}": {
      "put": {
        "tags": [
          "server"
        ],
        "summary": "updatePkgPasteServer server",
        "description": "update paste server",
        "externalDocs": {
          "description": "Update Paste Server",
          "url": "https://vuls.biz/"
        },
        "operationId": "server#updatePkgPasteServer",
        "parameters": [
          {
            "name": "serverID",
            "in": "path",
            "description": "Server ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          },
          {
            "name": "UpdatePkgPasteServerRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerUpdatePkgPasteServerRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response."
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/v1/server/uuid/{serverUuid}": {
      "get": {
        "tags": [
          "server"
        ],
        "summary": "getServerDetailByUUID server",
        "description": "server detail by UUID",
        "externalDocs": {
          "description": "Get Server Detail",
          "url": "https://vuls.biz/"
        },
        "operationId": "server#getServerDetailByUUID",
        "parameters": [
          {
            "name": "serverUuid",
            "in": "path",
            "description": "Server UUID",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ServerGetServerDetailByUUIDResponseBody",
              "required": [
                "id",
                "serverUuid",
                "hostUuid",
                "serverName",
                "serverIpv4",
                "platformName",
                "platformInstanceId",
                "serverroleId",
                "serverroleName",
                "osFamily",
                "osVersion",
                "needKernelRestart",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/v1/server/{serverID}": {
      "get": {
        "tags": [
          "server"
        ],
        "summary": "getServerDetail server",
        "description": "server detail",
        "externalDocs": {
          "description": "Get Server Detail",
          "url": "https://vuls.biz/"
        },
        "operationId": "server#getServerDetail",
        "parameters": [
          {
            "name": "serverID",
            "in": "path",
            "description": "Server ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ServerGetServerDetailResponseBody",
              "required": [
                "id",
                "serverUuid",
                "hostUuid",
                "serverName",
                "serverIpv4",
                "platformName",
                "platformInstanceId",
                "serverroleId",
                "serverroleName",
                "osFamily",
                "osVersion",
                "needKernelRestart",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      },
      "put": {
        "tags": [
          "server"
        ],
        "summary": "updateServer server",
        "description": "update server",
        "externalDocs": {
          "description": "Update Server",
          "url": "https://vuls.biz/"
        },
        "operationId": "server#updateServer",
        "parameters": [
          {
            "name": "serverID",
            "in": "path",
            "description": "Server ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          },
          {
            "name": "UpdateServerRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerUpdateServerRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ServerUpdateServerResponseBody",
              "required": [
                "id",
                "serverUuid",
                "hostUuid",
                "serverName",
                "serverIpv4",
                "platformName",
                "platformInstanceId",
                "serverroleId",
                "serverroleName",
                "osFamily",
                "osVersion",
                "needKernelRestart",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "server"
        ],
        "summary": "deleteServer server",
        "description": "server delete",
        "externalDocs": {
          "description": "Delete Server",
          "url": "https://vuls.biz/"
        },
        "operationId": "server#deleteServer",
        "parameters": [
          {
            "name": "serverID",
            "in": "path",
            "description": "Server ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response."
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/v1/servers": {
      "get": {
        "tags": [
          "server"
        ],
        "summary": "getServerList server",
        "description": "server list",
        "externalDocs": {
          "description": "Get Server List",
          "url": "https://vuls.biz/"
        },
        "operationId": "server#getServerList",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page Number",
            "required": false,
            "type": "integer",
            "default": 1,
            "minimum": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "required": false,
            "type": "integer",
            "default": 20,
            "maximum": 1000,
            "minimum": 1
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset",
            "required": false,
            "type": "integer",
            "default": 0,
            "minimum": 0
          },
          {
            "name": "filterCveID",
            "in": "query",
            "description": "CveID filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "filterRoleID",
            "in": "query",
            "description": "ServerRoleID filter",
            "required": false,
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "filterTagName",
            "in": "query",
            "description": "ServerTagName filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ServerGetServerListResponseBody"
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/v1/task/{taskID}": {
      "get": {
        "tags": [
          "task"
        ],
        "summary": "getTaskDetail task",
        "description": "task detail",
        "externalDocs": {
          "description": "Get Task Detail",
          "url": "https://vuls.biz/"
        },
        "operationId": "task#getTaskDetail",
        "parameters": [
          {
            "name": "taskID",
            "in": "path",
            "description": "Task ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/TaskGetTaskDetailResponseBody",
              "required": [
                "id",
                "cveID",
                "serverID",
                "server",
                "roleID",
                "roleName",
                "status",
                "priority",
                "ignore",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      },
      "put": {
        "tags": [
          "task"
        ],
        "summary": "updateTask task",
        "description": "update task",
        "externalDocs": {
          "description": "Update Task",
          "url": "https://vuls.biz/"
        },
        "operationId": "task#updateTask",
        "parameters": [
          {
            "name": "taskID",
            "in": "path",
            "description": "Task ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          },
          {
            "name": "UpdateTaskRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskUpdateTaskRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/TaskUpdateTaskResponseBody",
              "required": [
                "id",
                "cveID",
                "serverID",
                "server",
                "roleID",
                "roleName",
                "status",
                "priority",
                "ignore",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/v1/task/{taskID}/comment": {
      "post": {
        "tags": [
          "task"
        ],
        "summary": "addTaskComment task",
        "description": "add task comment",
        "externalDocs": {
          "description": "Add Task Comment",
          "url": "https://vuls.biz/"
        },
        "operationId": "task#addTaskComment",
        "parameters": [
          {
            "name": "taskID",
            "in": "path",
            "description": "Task ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          },
          {
            "name": "AddTaskCommentRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskAddTaskCommentRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/TaskAddTaskCommentResponseBody",
              "required": [
                "id",
                "cveID",
                "serverID",
                "server",
                "roleID",
                "roleName",
                "status",
                "priority",
                "ignore",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/v1/task/{taskID}/ignore": {
      "put": {
        "tags": [
          "task"
        ],
        "summary": "updateTaskIgnore task",
        "description": "update task ignore",
        "externalDocs": {
          "description": "Update Task Ignore",
          "url": "https://vuls.biz/"
        },
        "operationId": "task#updateTaskIgnore",
        "parameters": [
          {
            "name": "taskID",
            "in": "path",
            "description": "Task ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          },
          {
            "name": "UpdateTaskIgnoreRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskUpdateTaskIgnoreRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/TaskUpdateTaskIgnoreResponseBody",
              "required": [
                "id",
                "cveID",
                "serverID",
                "server",
                "roleID",
                "roleName",
                "status",
                "priority",
                "ignore",
                "createdAt",
                "updatedAt"
              ]
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/v1/tasks": {
      "get": {
        "tags": [
          "task"
        ],
        "summary": "getTaskList task",
        "description": "task list",
        "externalDocs": {
          "description": "Get Task List",
          "url": "https://vuls.biz/"
        },
        "operationId": "task#getTaskList",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page Number",
            "required": false,
            "type": "integer",
            "default": 1,
            "minimum": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "required": false,
            "type": "integer",
            "default": 20,
            "maximum": 1000,
            "minimum": 1
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset",
            "required": false,
            "type": "integer",
            "default": 0,
            "minimum": 0
          },
          {
            "name": "filterStatus",
            "in": "query",
            "description": "Status filter",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "new",
                "investigating",
                "ongoing",
                "not_affected",
                "risk_accepted",
                "workaround",
                "patch_applied"
              ]
            },
            "collectionFormat": "multi",
            "default": [
              "new",
              "investigating",
              "ongoing"
            ]
          },
          {
            "name": "filterPriority",
            "in": "query",
            "description": "Priority filter",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "none",
                "high",
                "medium",
                "low"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filterIgnore",
            "in": "query",
            "description": "Ignore filter(trueの場合は、非表示のものを取得しない。falseの場合は全件取得)",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filterMainUserIDs",
            "in": "query",
            "description": "MainUserIDs filter",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filterSubUserIDs",
            "in": "query",
            "description": "SubUserIDs filter",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filterCveID",
            "in": "query",
            "description": "CveID filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "filterServerID",
            "in": "query",
            "description": "ServerID filter",
            "required": false,
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "filterRoleID",
            "in": "query",
            "description": "ServerRoleID filter",
            "required": false,
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "filterPkgID",
            "in": "query",
            "description": "PackageID filter",
            "required": false,
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "filterCpeID",
            "in": "query",
            "description": "CpeID filter",
            "required": false,
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "api key auth",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/TaskGetTaskListResponseBody"
            }
          }
        },
        "schemes": [
          "http"
        ],
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    }
  },
  "definitions": {
    "AdvisoryResponseBody": {
      "title": "AdvisoryResponseBody",
      "type": "object",
      "properties": {
        "advisoryID": {
          "type": "string",
          "description": "AdvisoryID of advisory",
          "example": "advisoryID"
        },
        "osFamily": {
          "type": "string",
          "description": "osFamily of advisory",
          "example": "redhat"
        }
      },
      "description": "Advisory describes a advisory",
      "example": {
        "advisoryID": "advisoryID",
        "osFamily": "redhat"
      },
      "required": [
        "osFamily",
        "advisoryID"
      ]
    },
    "AffectedProcResponseBody": {
      "title": "AffectedProcResponseBody",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "AffectedProc Name",
          "example": "apache"
        },
        "pid": {
          "type": "string",
          "description": "PID",
          "example": "12"
        }
      },
      "example": {
        "name": "apache",
        "pid": "12"
      },
      "required": [
        "pid",
        "name"
      ]
    },
    "ChildTaskResponseBody": {
      "title": "ChildTaskResponseBody",
      "type": "object",
      "properties": {
        "applyingPatchOn": {
          "type": "string",
          "description": "ApplyingPatchOn of task",
          "example": "2018-07-13",
          "format": "date"
        },
        "createdAt": {
          "type": "string",
          "description": "created time of task",
          "example": "2018-07-14T08:13:28Z",
          "format": "date-time"
        },
        "cveID": {
          "type": "string",
          "description": "CVE ID of task",
          "example": "CVE-2017-6799"
        },
        "id": {
          "type": "integer",
          "description": "ID of task",
          "example": 1,
          "format": "int64"
        },
        "ignore": {
          "type": "boolean",
          "description": "Ignore of task",
          "example": true
        },
        "ignoreUntil": {
          "type": "string",
          "description": "Ignore until of task",
          "example": "vector"
        },
        "mainUserID": {
          "type": "integer",
          "description": "MainUserID of task",
          "example": 1,
          "format": "int64"
        },
        "mainUserName": {
          "type": "string",
          "description": "MainUserName of task",
          "example": "main-user-name"
        },
        "priority": {
          "type": "string",
          "description": "Priority of task",
          "example": "high"
        },
        "serverID": {
          "type": "integer",
          "description": "ServerID of task",
          "example": 1,
          "format": "int64"
        },
        "status": {
          "type": "string",
          "description": "Status of task",
          "example": "new"
        },
        "subUserID": {
          "type": "integer",
          "description": "SubUserID of task",
          "example": 1,
          "format": "int64"
        },
        "subUserName": {
          "type": "string",
          "description": "SubUserName of task",
          "example": "sub-user-name"
        },
        "updatedAt": {
          "type": "string",
          "description": "updated time of task",
          "example": "2018-07-14T08:13:28Z",
          "format": "date-time"
        }
      },
      "example": {
        "applyingPatchOn": "2018-07-13",
        "createdAt": "2018-07-14T08:13:28Z",
        "cveID": "CVE-2017-6799",
        "id": 1,
        "ignore": true,
        "ignoreUntil": "vector",
        "mainUserID": 1,
        "mainUserName": "main-user-name",
        "priority": "high",
        "serverID": 1,
        "status": "new",
        "subUserID": 1,
        "subUserName": "sub-user-name",
        "updatedAt": "2018-07-14T08:13:28Z"
      },
      "required": [
        "id",
        "cveID",
        "serverID",
        "status",
        "priority",
        "ignore",
        "createdAt",
        "updatedAt"
      ]
    },
    "CveGetCveDetailResponseBody": {
      "title": "CveGetCveDetailResponseBody",
      "type": "object",
      "properties": {
        "advisories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdvisoryResponseBody"
          },
          "description": "advisory of cve",
          "example": [
            {
              "advisoryID": "advisoryID",
              "osFamily": "redhat"
            },
            {
              "advisoryID": "advisoryID",
              "osFamily": "redhat"
            },
            {
              "advisoryID": "advisoryID",
              "osFamily": "redhat"
            }
          ]
        },
        "createdAt": {
          "type": "string",
          "description": "created time",
          "example": "2018-07-14T08:13:28Z",
          "format": "date-time"
        },
        "cveID": {
          "type": "string",
          "description": "Cve ID string of cve",
          "example": "CVE-2018-1234"
        },
        "cvss": {
          "type": "string",
          "description": "cvss of cve",
          "example": "Unde dolorum distinctio voluptatem nemo ut.",
          "format": "binary"
        },
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CweResponseBody"
          },
          "description": "cwes of cve",
          "example": [
            {
              "cweID": "CWE-416",
              "english": "english summary",
              "japanese": "japanese summary",
              "owaspTopTen2017": "10",
              "sourceType": "nvd"
            },
            {
              "cweID": "CWE-416",
              "english": "english summary",
              "japanese": "japanese summary",
              "owaspTopTen2017": "10",
              "sourceType": "nvd"
            },
            {
              "cweID": "CWE-416",
              "english": "english summary",
              "japanese": "japanese summary",
              "owaspTopTen2017": "10",
              "sourceType": "nvd"
            },
            {
              "cweID": "CWE-416",
              "english": "english summary",
              "japanese": "japanese summary",
              "owaspTopTen2017": "10",
              "sourceType": "nvd"
            }
          ]
        },
        "envMetricV2s": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvMetricV2ResponseBody"
          },
          "description": "envMetricV2 of cve",
          "example": [
            {
              "cdp": "",
              "createdAt": "2018-07-14T08:13:28Z",
              "cveID": "CVE-2018-1234",
              "roleID": 1,
              "roleName": "roleName",
              "td": "",
              "updatedAt": "2018-07-14T08:13:28Z"
            },
            {
              "cdp": "",
              "createdAt": "2018-07-14T08:13:28Z",
              "cveID": "CVE-2018-1234",
              "roleID": 1,
              "roleName": "roleName",
              "td": "",
              "updatedAt": "2018-07-14T08:13:28Z"
            }
          ]
        },
        "envMetricV3s": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvMetricV3ResponseBody"
          },
          "description": "envMetricV3 of cve",
          "example": [
            {
              "createdAt": "2018-07-14T08:13:28Z",
              "cveID": "CVE-2018-1234",
              "ma": "",
              "mac": "",
              "mav": "",
              "mc": "",
              "mpr": "",
              "ms": "",
              "mui": "",
              "roleID": 1,
              "roleName": "roleName",
              "updatedAt": "2018-07-14T08:13:28Z"
            },
            {
              "createdAt": "2018-07-14T08:13:28Z",
              "cveID": "CVE-2018-1234",
              "ma": "",
              "mac": "",
              "mav": "",
              "mc": "",
              "mpr": "",
              "ms": "",
              "mui": "",
              "roleID": 1,
              "roleName": "roleName",
              "updatedAt": "2018-07-14T08:13:28Z"
            }
          ]
        },
        "references": {
          "type": "object",
          "description": "references of cve",
          "example": {
            "nvd": "https://xxxxxx"
          },
          "additionalProperties": {
            "type": "string",
            "example": "Culpa explicabo sunt omnis cum unde."
          }
        },
        "secMetrics": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecMetricResponseBody"
          },
          "description": "secMetric of cve",
          "example": [
            {
              "ar": "",
              "cr": "",
              "createdAt": "2018-07-14T08:13:28Z",
              "ir": "",
              "roleID": 1,
              "roleName": "roleName",
              "updatedAt": "2018-07-14T08:13:28Z"
            },
            {
              "ar": "",
              "cr": "",
              "createdAt": "2018-07-14T08:13:28Z",
              "ir": "",
              "roleID": 1,
              "roleName": "roleName",
              "updatedAt": "2018-07-14T08:13:28Z"
            },
            {
              "ar": "",
              "cr": "",
              "createdAt": "2018-07-14T08:13:28Z",
              "ir": "",
              "roleID": 1,
              "roleName": "roleName",
              "updatedAt": "2018-07-14T08:13:28Z"
            }
          ]
        },
        "serverOsFamilies": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "Provident minima."
          },
          "description": "serverOsFamilies of cve",
          "example": [
            "Odit suscipit suscipit.",
            "Dolor reiciendis.",
            "Est accusamus et repudiandae.",
            "Illum atque dicta sapiente optio commodi."
          ]
        },
        "tmpMetricV2": {
          "$ref": "#/definitions/TmpMetricResponseBody"
        },
        "tmpMetricV3": {
          "$ref": "#/definitions/TmpMetricResponseBody"
        },
        "updatedAt": {
          "type": "string",
          "description": "updated time",
          "example": "2018-07-14T08:13:28Z",
          "format": "date-time"
        }
      },
      "example": {
        "advisories": [
          {
            "advisoryID": "advisoryID",
            "osFamily": "redhat"
          },
          {
            "advisoryID": "advisoryID",
            "osFamily": "redhat"
          },
          {
            "advisoryID": "advisoryID",
            "osFamily": "redhat"
          },
          {
            "advisoryID": "advisoryID",
            "osFamily": "redhat"
          }
        ],
        "createdAt": "2018-07-14T08:13:28Z",
        "cveID": "CVE-2018-1234",
        "cvss": "Et aut quae vero fugit.",
        "cwes": [
          {
            "cweID": "CWE-416",
            "english": "english summary",
            "japanese": "japanese summary",
            "owaspTopTen2017": "10",
            "sourceType": "nvd"
          },
          {
            "cweID": "CWE-416",
            "english": "english summary",
            "japanese": "japanese summary",
            "owaspTopTen2017": "10",
            "sourceType": "nvd"
          },
          {
            "cweID": "CWE-416",
            "english": "english summary",
            "japanese": "japanese summary",
            "owaspTopTen2017": "10",
            "sourceType": "nvd"
          },
          {
            "cweID": "CWE-416",
            "english": "english summary",
            "japanese": "japanese summary",
            "owaspTopTen2017": "10",
            "sourceType": "nvd"
          }
        ],
        "envMetricV2s": [
          {
            "cdp": "",
            "createdAt": "2018-07-14T08:13:28Z",
            "cveID": "CVE-2018-1234",
            "roleID": 1,
            "roleName": "roleName",
            "td": "",
            "updatedAt": "2018-07-14T08:13:28Z"
          },
          {
            "cdp": "",
            "createdAt": "2018-07-14T08:13:28Z",
            "cveID": "CVE-2018-1234",
            "roleID": 1,
            "roleName": "roleName",
            "td": "",
            "updatedAt": "2018-07-14T08:13:28Z"
          },
          {
            "cdp": "",
            "createdAt": "2018-07-14T08:13:28Z",
            "cveID": "CVE-2018-1234",
            "roleID": 1,
            "roleName": "roleName",
            "td": "",
            "updatedAt": "2018-07-14T08:13:28Z"
          }
        ],
        "envMetricV3s": [
          {
            "createdAt": "2018-07-14T08:13:28Z",
            "cveID": "CVE-2018-1234",
            "ma": "",
            "mac": "",
            "mav": "",
            "mc": "",
            "mpr": "",
            "ms": "",
            "mui": "",
            "roleID": 1,
            "roleName": "roleName",
            "updatedAt": "2018-07-14T08:13:28Z"
          },
          {
            "createdAt": "2018-07-14T08:13:28Z",
            "cveID": "CVE-2018-1234",
            "ma": "",
            "mac": "",
            "mav": "",
            "mc": "",
            "mpr": "",
            "ms": "",
            "mui": "",
            "roleID": 1,
            "roleName": "roleName",
            "updatedAt": "2018-07-14T08:13:28Z"
          },
          {
            "createdAt": "2018-07-14T08:13:28Z",
            "cveID": "CVE-2018-1234",
            "ma": "",
            "mac": "",
            "mav": "",
            "mc": "",
            "mpr": "",
            "ms": "",
            "mui": "",
            "roleID": 1,
            "roleName": "roleName",
            "updatedAt": "2018-07-14T08:13:28Z"
          }
        ],
        "references": {
          "nvd": "https://xxxxxx"
        },
        "secMetrics": [
          {
            "ar": "",
            "cr": "",
            "createdAt": "2018-07-14T08:13:28Z",
            "ir": "",
            "roleID": 1,
            "roleName": "roleName",
            "updatedAt": "2018-07-14T08:13:28Z"
          },
          {
            "ar": "",
            "cr": "",
            "createdAt": "2018-07-14T08:13:28Z",
            "ir": "",
            "roleID": 1,
            "roleName": "roleName",
            "updatedAt": "2018-07-14T08:13:28Z"
          }
        ],
        "serverOsFamilies": [
          "Est est.",
          "Dolor natus.",
          "Dolores reiciendis exercitationem labore dolor.",
          "Magnam odit sapiente."
        ],
        "tmpMetricV2": {
          "createdAt": "2018-07-14T08:13:28Z",
          "e": "",
          "rc": "",
          "rl": "",
          "updatedAt": "2018-07-14T08:13:28Z"
        },
        "tmpMetricV3": {
          "createdAt": "2018-07-14T08:13:28Z",
          "e": "",
          "rc": "",
          "rl": "",
          "updatedAt": "2018-07-14T08:13:28Z"
        },
        "updatedAt": "2018-07-14T08:13:28Z"
      },
      "required": [
        "cveID",
        "tmpMetricV2",
        "tmpMetricV3",
        "secMetrics",
        "envMetricV2s",
        "envMetricV3s",
        "references",
        "cwes",
        "serverOsFamilies",
        "cvss",
        "createdAt",
        "updatedAt"
      ]
    },
    "CveGetCveListResponseBody": {
      "title": "CveGetCveListResponseBody",
      "type": "object",
      "properties": {
        "cves": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CveListResponseBody"
          },
          "description": "Cves list",
          "example": [
            {
              "advisoryIDs": [
                "advisoryID"
              ],
              "allTaskCount": 100,
              "createdAt": "2018-07-14T08:13:28Z",
              "cveID": "CVE-2018-1234",
              "cwes": [
                {
                  "cweID": "CWE-416",
                  "english": "english summary",
                  "japanese": "japanese summary",
                  "owaspTopTen2017": "10",
                  "sourceType": "nvd"
                },
                {
                  "cweID": "CWE-416",
                  "english": "english summary",
                  "japanese": "japanese summary",
                  "owaspTopTen2017": "10",
                  "sourceType": "nvd"
                },
                {
                  "cweID": "CWE-416",
                  "english": "english summary",
                  "japanese": "japanese summary",
                  "owaspTopTen2017": "10",
                  "sourceType": "nvd"
                },
                {
                  "cweID": "CWE-416",
                  "english": "english summary",
                  "japanese": "japanese summary",
                  "owaspTopTen2017": "10",
                  "sourceType": "nvd"
                }
              ],
              "hasExploit": true,
              "hasMitigation": true,
              "hasWorkaround": true,
              "isNotActive": true,
              "isOwaspTopTen2017": true,
              "maxV2": 9,
              "maxV3": 9,
              "newTaskCount": 10,
              "scoreV2s": {
                "nvd": 9,
                "redhat": 7
              },
              "scoreV3s": {
                "nvd": 8,
                "redhat": 9
              },
              "title": "title",
              "topicCount": 10,
              "topicLastUpdatedAt": "2018-07-14T08:13:28Z",
              "updatedAt": "2018-07-14T08:13:28Z",
              "vectorV2s": {
                "jvn": "AV:L/AC:M/Au:N/C:C/I:N/A:N",
                "nvd": "AV:L/AC:M/Au:N/C:C/I:N/A:N"
              },
              "vectorV3s": {
                "jvn": "AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N",
                "nvd": "AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N"
              }
            },
            {
              "advisoryIDs": [
                "advisoryID"
              ],
              "allTaskCount": 100,
              "createdAt": "2018-07-14T08:13:28Z",
              "cveID": "CVE-2018-1234",
              "cwes": [
                {
                  "cweID": "CWE-416",
                  "english": "english summary",
                  "japanese": "japanese summary",
                  "owaspTopTen2017": "10",
                  "sourceType": "nvd"
                },
                {
                  "cweID": "CWE-416",
                  "english": "english summary",
                  "japanese": "japanese summary",
                  "owaspTopTen2017": "10",
                  "sourceType": "nvd"
                },
                {
                  "cweID": "CWE-416",
                  "english": "english summary",
                  "japanese": "japanese summary",
                  "owaspTopTen2017": "10",
                  "sourceType": "nvd"
                },
                {
                  "cweID": "CWE-416",
                  "english": "english summary",
                  "japanese": "japanese summary",
                  "owaspTopTen2017": "10",
                  "sourceType": "nvd"
                }
              ],
              "hasExploit": true,
              "hasMitigation": true,
              "hasWorkaround": true,
              "isNotActive": true,
              "isOwaspTopTen2017": true,
              "maxV2": 9,
              "maxV3": 9,
              "newTaskCount": 10,
              "scoreV2s": {
                "nvd": 9,
                "redhat": 7
              },
              "scoreV3s": {
                "nvd": 8,
                "redhat": 9
              },
              "title": "title",
              "topicCount": 10,
              "topicLastUpdatedAt": "2018-07-14T08:13:28Z",
              "updatedAt": "2018-07-14T08:13:28Z",
              "vectorV2s": {
                "jvn": "AV:L/AC:M/Au:N/C:C/I:N/A:N",
                "nvd": "AV:L/AC:M/Au:N/C:C/I:N/A:N"
              },
              "vectorV3s": {
                "jvn": "AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N",
                "nvd": "AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N"
              }
            },
            {
              "advisoryIDs": [
                "advisoryID"
              ],
              "allTaskCount": 100,
              "createdAt": "2018-07-14T08:13:28Z",
              "cveID": "CVE-2018-1234",
              "cwes": [
                {
                  "cweID": "CWE-416",
                  "english": "english summary",
                  "japanese": "japanese summary",
                  "owaspTopTen2017": "10",
                  "sourceType": "nvd"
                },
                {
                  "cweID": "CWE-416",
                  "english": "english summary",
                  "japanese": "japanese summary",
                  "owaspTopTen2017": "10",
                  "sourceType": "nvd"
                },
                {
                  "cweID": "CWE-416",
                  "english": "english summary",
                  "japanese": "japanese summary",
                  "owaspTopTen2017": "10",
                  "sourceType": "nvd"
                },
                {
                  "cweID": "CWE-416",
                  "english": "english summary",
                  "japanese": "japanese summary",
                  "owaspTopTen2017": "10",
                  "sourceType": "nvd"
                }
              ],
              "hasExploit": true,
              "hasMitigation": true,
              "hasWorkaround": true,
              "isNotActive": true,
              "isOwaspTopTen2017": true,
              "maxV2": 9,
              "maxV3": 9,
              "newTaskCount": 10,
              "scoreV2s": {
                "nvd": 9,
                "redhat": 7
              },
              "scoreV3s": {
                "nvd": 8,
                "redhat": 9
              },
              "title": "title",
              "topicCount": 10,
              "topicLastUpdatedAt": "2018-07-14T08:13:28Z",
              "updatedAt": "2018-07-14T08:13:28Z",
              "vectorV2s": {
                "jvn": "AV:L/AC:M/Au:N/C:C/I:N/A:N",
                "nvd": "AV:L/AC:M/Au:N/C:C/I:N/A:N"
              },
              "vectorV3s": {
                "jvn": "AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N",
                "nvd": "AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N"
              }
            },
            {
              "advisoryIDs": [
                "advisoryID"
              ],
              "allTaskCount": 100,
              "createdAt": "2018-07-14T08:13:28Z",
              "cveID": "CVE-2018-1234",
              "cwes": [
                {
                  "cweID": "CWE-416",
                  "english": "english summary",
                  "japanese": "japanese summary",
                  "owaspTopTen2017": "10",
                  "sourceType": "nvd"
                },
                {
                  "cweID": "CWE-416",
                  "english": "english summary",
                  "japanese": "japanese summary",
                  "owaspTopTen2017": "10",
                  "sourceType": "nvd"
                },
                {
                  "cweID": "CWE-416",
                  "english": "english summary",
                  "japanese": "japanese summary",
                  "owaspTopTen2017": "10",
                  "sourceType": "nvd"
                },
                {
                  "cweID": "CWE-416",
                  "english": "english summary",
                  "japanese": "japanese summary",
                  "owaspTopTen2017": "10",
                  "sourceType": "nvd"
                }
              ],
              "hasExploit": true,
              "hasMitigation": true,
              "hasWorkaround": true,
              "isNotActive": true,
              "isOwaspTopTen2017": true,
              "maxV2": 9,
              "maxV3": 9,
              "newTaskCount": 10,
              "scoreV2s": {
                "nvd": 9,
                "redhat": 7
              },
              "scoreV3s": {
                "nvd": 8,
                "redhat": 9
              },
              "title": "title",
              "topicCount": 10,
              "topicLastUpdatedAt": "2018-07-14T08:13:28Z",
              "updatedAt": "2018-07-14T08:13:28Z",
              "vectorV2s": {
                "jvn": "AV:L/AC:M/Au:N/C:C/I:N/A:N",
                "nvd": "AV:L/AC:M/Au:N/C:C/I:N/A:N"
              },
              "vectorV3s": {
                "jvn": "AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N",
                "nvd": "AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N"
              }
            }
          ]
        },
        "paging": {
          "$ref": "#/definitions/PagingResponseBody"
        }
      },
      "example": {
        "cves": [
          {
            "advisoryIDs": [
              "advisoryID"
            ],
            "allTaskCount": 100,
            "createdAt": "2018-07-14T08:13:28Z",
            "cveID": "CVE-2018-1234",
            "cwes": [
              {
                "cweID": "CWE-416",
                "english": "english summary",
                "japanese": "japanese summary",
                "owaspTopTen2017": "10",
                "sourceType": "nvd"
              },
              {
                "cweID": "CWE-416",
                "english": "english summary",
                "japanese": "japanese summary",
                "owaspTopTen2017": "10",
                "sourceType": "nvd"
              },
              {
                "cweID": "CWE-416",
                "english": "english summary",
                "japanese": "japanese summary",
                "owaspTopTen2017": "10",
                "sourceType": "nvd"
              },
              {
                "cweID": "CWE-416",
                "english": "english summary",
                "japanese": "japanese summary",
                "owaspTopTen2017": "10",
                "sourceType": "nvd"
              }
            ],
            "hasExploit": true,
            "hasMitigation": true,
            "hasWorkaround": true,
            "isNotActive": true,
            "isOwaspTopTen2017": true,
            "maxV2": 9,
            "maxV3": 9,
            "newTaskCount": 10,
            "scoreV2s": {
              "nvd": 9,
              "redhat": 7
            },
            "scoreV3s": {
              "nvd": 8,
              "redhat": 9
            },
            "title": "title",
            "topicCount": 10,
            "topicLastUpdatedAt": "2018-07-14T08:13:28Z",
            "updatedAt": "2018-07-14T08:13:28Z",
            "vectorV2s": {
              "jvn": "AV:L/AC:M/Au:N/C:C/I:N/A:N",
              "nvd": "AV:L/AC:M/Au:N/C:C/I:N/A:N"
            },
            "vectorV3s": {
              "jvn": "AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N",
              "nvd": "AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N"
            }
          },
          {
            "advisoryIDs": [
              "advisoryID"
            ],
            "allTaskCount": 100,
            "createdAt": "2018-07-14T08:13:28Z",
            "cveID": "CVE-2018-1234",
            "cwes": [
              {
                "cweID": "CWE-416",
                "english": "english summary",
                "japanese": "japanese summary",
                "owaspTopTen2017": "10",
                "sourceType": "nvd"
              },
              {
                "cweID": "CWE-416",
                "english": "english summary",
                "japanese": "japanese summary",
                "owaspTopTen2017": "10",
                "sourceType": "nvd"
              },
              {
                "cweID": "CWE-416",
                "english": "english summary",
                "japanese": "japanese summary",
                "owaspTopTen2017": "10",
                "sourceType": "nvd"
              },
              {
                "cweID": "CWE-416",
                "english": "english summary",
                "japanese": "japanese summary",
                "owaspTopTen2017": "10",
                "sourceType": "nvd"
              }
            ],
            "hasExploit": true,
            "hasMitigation": true,
            "hasWorkaround": true,
            "isNotActive": true,
            "isOwaspTopTen2017": true,
            "maxV2": 9,
            "maxV3": 9,
            "newTaskCount": 10,
            "scoreV2s": {
              "nvd": 9,
              "redhat": 7
            },
            "scoreV3s": {
              "nvd": 8,
              "redhat": 9
            },
            "title": "title",
            "topicCount": 10,
            "topicLastUpdatedAt": "2018-07-14T08:13:28Z",
            "updatedAt": "2018-07-14T08:13:28Z",
            "vectorV2s": {
              "jvn": "AV:L/AC:M/Au:N/C:C/I:N/A:N",
              "nvd": "AV:L/AC:M/Au:N/C:C/I:N/A:N"
            },
            "vectorV3s": {
              "jvn": "AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N",
              "nvd": "AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N"
            }
          }
        ],
        "paging": {
          "limit": 20,
          "offset": 10,
          "page": 1,
          "totalCount": 200,
          "totalPage": 10
        }
      }
    },
    "CveListResponseBody": {
      "title": "CveListResponseBody",
      "type": "object",
      "properties": {
        "advisoryIDs": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "Et sit cum animi inventore ex."
          },
          "description": "advisoryIDs of cve",
          "example": [
            "advisoryID"
          ]
        },
        "allTaskCount": {
          "type": "integer",
          "description": "AllTaskCount of cve",
          "example": 100,
          "format": "int64"
        },
        "createdAt": {
          "type": "string",
          "description": "created time",
          "example": "2018-07-14T08:13:28Z",
          "format": "date-time"
        },
        "cveID": {
          "type": "string",
          "description": "Cve ID string of cve",
          "example": "CVE-2018-1234"
        },
        "cwes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CweResponseBody"
          },
          "description": "cwes of cve",
          "example": [
            {
              "cweID": "CWE-416",
              "english": "english summary",
              "japanese": "japanese summary",
              "owaspTopTen2017": "10",
              "sourceType": "nvd"
            },
            {
              "cweID": "CWE-416",
              "english": "english summary",
              "japanese": "japanese summary",
              "owaspTopTen2017": "10",
              "sourceType": "nvd"
            }
          ]
        },
        "hasExploit": {
          "type": "boolean",
          "description": "hasExploit of cve",
          "example": true
        },
        "hasMitigation": {
          "type": "boolean",
          "description": "hasMitigation of cve",
          "example": true
        },
        "hasWorkaround": {
          "type": "boolean",
          "description": "hasWorkaroundof cve",
          "example": true
        },
        "isNotActive": {
          "type": "boolean",
          "description": "Flag of active cve",
          "example": true
        },
        "isOwaspTopTen2017": {
          "type": "boolean",
          "description": "isOwaspTopTen2017 of cve",
          "example": true
        },
        "maxV2": {
          "type": "number",
          "description": "maxV2 of cve",
          "example": 9,
          "format": "double"
        },
        "maxV3": {
          "type": "number",
          "description": "maxV3 of cve",
          "example": 9,
          "format": "double"
        },
        "newTaskCount": {
          "type": "integer",
          "description": "NewTaskCount of cve",
          "example": 10,
          "format": "int64"
        },
        "scoreV2s": {
          "type": "object",
          "description": "cvss v2 scores of cve",
          "example": {
            "nvd": 9,
            "redhat": 7
          },
          "additionalProperties": {
            "type": "number",
            "example": 0.23789528192427706,
            "format": "double"
          }
        },
        "scoreV3s": {
          "type": "object",
          "description": "cvss v3 scores of cve",
          "example": {
            "nvd": 8,
            "redhat": 9
          },
          "additionalProperties": {
            "type": "number",
            "example": 0.19422774721731959,
            "format": "double"
          }
        },
        "title": {
          "type": "string",
          "description": "Title of cve",
          "example": "title"
        },
        "topicCount": {
          "type": "integer",
          "description": "topicCount of cve",
          "example": 10,
          "format": "int64"
        },
        "topicLastUpdatedAt": {
          "type": "string",
          "description": "topicLastUpdatedAt of cve",
          "example": "2018-07-14T08:13:28Z",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "description": "updated time",
          "example": "2018-07-14T08:13:28Z",
          "format": "date-time"
        },
        "vectorV2s": {
          "type": "object",
          "description": "cvss v2 vectors of cve",
          "example": {
            "jvn": "AV:L/AC:M/Au:N/C:C/I:N/A:N",
            "nvd": "AV:L/AC:M/Au:N/C:C/I:N/A:N"
          },
          "additionalProperties": {
            "type": "string",
            "example": "Et nemo amet molestias vero."
          }
        },
        "vectorV3s": {
          "type": "object",
          "description": "cvss v3 vectors of cve",
          "example": {
            "jvn": "AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N",
            "nvd": "AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N"
          },
          "additionalProperties": {
            "type": "string",
            "example": "Aliquam est et eaque."
          }
        }
      },
      "example": {
        "advisoryIDs": [
          "advisoryID"
        ],
        "allTaskCount": 100,
        "createdAt": "2018-07-14T08:13:28Z",
        "cveID": "CVE-2018-1234",
        "cwes": [
          {
            "cweID": "CWE-416",
            "english": "english summary",
            "japanese": "japanese summary",
            "owaspTopTen2017": "10",
            "sourceType": "nvd"
          },
          {
            "cweID": "CWE-416",
            "english": "english summary",
            "japanese": "japanese summary",
            "owaspTopTen2017": "10",
            "sourceType": "nvd"
          }
        ],
        "hasExploit": true,
        "hasMitigation": true,
        "hasWorkaround": true,
        "isNotActive": true,
        "isOwaspTopTen2017": true,
        "maxV2": 9,
        "maxV3": 9,
        "newTaskCount": 10,
        "scoreV2s": {
          "nvd": 9,
          "redhat": 7
        },
        "scoreV3s": {
          "nvd": 8,
          "redhat": 9
        },
        "title": "title",
        "topicCount": 10,
        "topicLastUpdatedAt": "2018-07-14T08:13:28Z",
        "updatedAt": "2018-07-14T08:13:28Z",
        "vectorV2s": {
          "jvn": "AV:L/AC:M/Au:N/C:C/I:N/A:N",
          "nvd": "AV:L/AC:M/Au:N/C:C/I:N/A:N"
        },
        "vectorV3s": {
          "jvn": "AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N",
          "nvd": "AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N"
        }
      },
      "required": [
        "cveID",
        "scoreV2s",
        "scoreV3s",
        "vectorV2s",
        "vectorV3s",
        "maxV2",
        "maxV3",
        "title",
        "cwes",
        "isNotActive",
        "isOwaspTopTen2017",
        "newTaskCount",
        "allTaskCount",
        "topicCount",
        "topicLastUpdatedAt",
        "createdAt",
        "updatedAt"
      ]
    },
    "CweResponseBody": {
      "title": "CweResponseBody",
      "type": "object",
      "properties": {
        "cweID": {
          "type": "string",
          "description": "cweID of cwe",
          "example": "CWE-416"
        },
        "english": {
          "type": "string",
          "description": "english summary of cwe",
          "example": "english summary"
        },
        "japanese": {
          "type": "string",
          "description": "japanese summary of cwe",
          "example": "japanese summary"
        },
        "owaspTopTen2017": {
          "type": "string",
          "description": "owaspTopTen2017 of cwe ",
          "example": "10"
        },
        "sourceType": {
          "type": "string",
          "description": "sourceType of cwe",
          "example": "nvd"
        }
      },
      "description": "Cwe describes a cwe",
      "example": {
        "cweID": "CWE-416",
        "english": "english summary",
        "japanese": "japanese summary",
        "owaspTopTen2017": "10",
        "sourceType": "nvd"
      },
      "required": [
        "sourceType",
        "cweID",
        "english",
        "japanese"
      ]
    },
    "DetectionMethod ResponseBody": {
      "title": "DetectionMethod ResponseBody",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Detection Method Name",
          "example": "vuls"
        },
        "reliabilityScore": {
          "type": "integer",
          "description": "ReliabilityScore",
          "example": 100,
          "format": "int64"
        }
      },
      "example": {
        "name": "vuls",
        "reliabilityScore": 100
      },
      "required": [
        "name",
        "reliabilityScore"
      ]
    },
    "DetectionToolResponseBody": {
      "title": "DetectionToolResponseBody",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Detection Tool Name",
          "example": "changelog"
        },
        "patchAppliedAt": {
          "type": "string",
          "description": "PatchAppliedAt",
          "example": "2018-07-14T08:13:28Z",
          "format": "date-time"
        }
      },
      "example": {
        "name": "changelog",
        "patchAppliedAt": "2018-07-14T08:13:28Z"
      },
      "required": [
        "name"
      ]
    },
    "EnvMetricV2ResponseBody": {
      "title": "EnvMetricV2ResponseBody",
      "type": "object",
      "properties": {
        "cdp": {
          "type": "string",
          "description": "CDP of envMetricV2",
          "example": ""
        },
        "createdAt": {
          "type": "string",
          "description": "created time",
          "example": "2018-07-14T08:13:28Z",
          "format": "date-time"
        },
        "cveID": {
          "type": "string",
          "description": "CveID of envMetricV2",
          "example": "CVE-2018-1234"
        },
        "roleID": {
          "type": "integer",
          "description": "ServerRoleID of envMetricV2",
          "example": 1,
          "format": "int64"
        },
        "roleName": {
          "type": "string",
          "description": "ServerRoleName of envMetricV2",
          "example": "roleName"
        },
        "td": {
          "type": "string",
          "description": "TD of envMetricV2",
          "example": ""
        },
        "updatedAt": {
          "type": "string",
          "description": "updated time",
          "example": "2018-07-14T08:13:28Z",
          "format": "date-time"
        }
      },
      "description": "EnvMetricV2 describes a envMetricV2",
      "example": {
        "cdp": "",
        "createdAt": "2018-07-14T08:13:28Z",
        "cveID": "CVE-2018-1234",
        "roleID": 1,
        "roleName": "roleName",
        "td": "",
        "updatedAt": "2018-07-14T08:13:28Z"
      },
      "required": [
        "cveID",
        "roleID",
        "roleName",
        "td",
        "cdp",
        "createdAt",
        "updatedAt"
      ]
    },
    "EnvMetricV3ResponseBody": {
      "title": "EnvMetricV3ResponseBody",
      "type": "object",
      "properties": {
        "createdAt": {
          "type": "string",
          "description": "created time",
          "example": "2018-07-14T08:13:28Z",
          "format": "date-time"
        },
        "cveID": {
          "type": "string",
          "description": "CveID of envMetricV3",
          "example": "CVE-2018-1234"
        },
        "ma": {
          "type": "string",
          "description": "MA of envMetricV3",
          "example": ""
        },
        "mac": {
          "type": "string",
          "description": "MAC of envMetricV3",
          "example": ""
        },
        "mav": {
          "type": "string",
          "description": "MAV of envMetricV3",
          "example": ""
        },
        "mc": {
          "type": "string",
          "description": "MC of envMetricV3",
          "example": ""
        },
        "mpr": {
          "type": "string",
          "description": "MPR of envMetricV3",
          "example": ""
        },
        "ms": {
          "type": "string",
          "description": "MS of envMetricV3",
          "example": ""
        },
        "mui": {
          "type": "string",
          "description": "MUI of envMetricV3",
          "example": ""
        },
        "roleID": {
          "type": "integer",
          "description": "ServerRoleID of envMetricV3",
          "example": 1,
          "format": "int64"
        },
        "roleName": {
          "type": "string",
          "description": "ServerRoleName of envMetricV3",
          "example": "roleName"
        },
        "updatedAt": {
          "type": "string",
          "description": "updated time",
          "example": "2018-07-14T08:13:28Z",
          "format": "date-time"
        }
      },
      "description": "EnvMetricV3 describes a envMetricV3",
      "example": {
        "createdAt": "2018-07-14T08:13:28Z",
        "cveID": "CVE-2018-1234",
        "ma": "",
        "mac": "",
        "mav": "",
        "mc": "",
        "mpr": "",
        "ms": "",
        "mui": "",
        "roleID": 1,
        "roleName": "roleName",
        "updatedAt": "2018-07-14T08:13:28Z"
      },
      "required": [
        "cveID",
        "roleID",
        "roleName",
        "mav",
        "mac",
        "mpr",
        "mui",
        "ms",
        "mc",
        "ma",
        "createdAt",
        "updatedAt"
      ]
    },
    "LibraryPkgChildResponseBody": {
      "title": "LibraryPkgChildResponseBody",
      "type": "object",
      "properties": {
        "createdAt": {
          "type": "string",
          "description": "crated time of package or cpe",
          "example": "2018-07-14T08:13:28Z",
          "format": "date-time"
        },
        "id": {
          "type": "integer",
          "description": "ID of library package",
          "example": 1,
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of library package",
          "example": "package01"
        },
        "updatedAt": {
          "type": "string",
          "description": "updated time of package or cpe",
          "example": "2018-07-14T08:13:28Z",
          "format": "date-time"
        },
        "version": {
          "type": "string",
          "description": "Version of library package",
          "example": "1.0"
        }
      },
      "example": {
        "createdAt": "2018-07-14T08:13:28Z",
        "id": 1,
        "name": "package01",
        "updatedAt": "2018-07-14T08:13:28Z",
        "version": "1.0"
      },
      "required": [
        "id",
        "name",
        "version",
        "createdAt",
        "updatedAt"
      ]
    },
    "LockfileAddLockfileRequestBody": {
      "title": "LockfileAddLockfileRequestBody",
      "type": "object",
      "properties": {
        "fileContent": {
          "type": "string",
          "description": "fileContent of the lockfile",
          "example": ""
        },
        "path": {
          "type": "string",
          "description": "Path of lockfile",
          "example": "/FutureVuls/package.json"
        },
        "serverID": {
          "type": "integer",
          "description": "ServerID",
          "example": 1,
          "format": "int64"
        }
      },
      "example": {
        "fileContent": "",
        "path": "/FutureVuls/package.json",
        "serverID": 1
      },
      "required": [
        "serverID",
        "path",
        "fileContent"
      ]
    },
    "LockfileAddLockfileResponseBody": {
      "title": "LockfileAddLockfileResponseBody",
      "type": "object",
      "properties": {
        "createdAt": {
          "type": "string",
          "description": "created time of lockfile",
          "example": "2018-07-14T08:13:28Z"
        },
        "fileContent": {
          "type": "string",
          "description": "FileContent of lockfile",
          "example": ""
        },
        "id": {
          "type": "integer",
          "description": "ID of lockfile",
          "example": 1,
          "format": "int64"
        },
        "libraryPkgs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LibraryPkgChildResponseBody"
          },
          "description": "LibraryPkgs of lockfile",
          "example": [
            {
              "createdAt": "2018-07-14T08:13:28Z",
              "id": 1,
              "name": "package01",
              "updatedAt": "2018-07-14T08:13:28Z",
              "version": "1.0"
            },
            {
              "createdAt": "2018-07-14T08:13:28Z",
              "id": 1,
              "name": "package01",
              "updatedAt": "2018-07-14T08:13:28Z",
              "version": "1.0"
            },
            {
              "createdAt": "2018-07-14T08:13:28Z",
              "id": 1,
              "name": "package01",
              "updatedAt": "2018-07-14T08:13:28Z",
              "version": "1.0"
            }
          ]
        },
        "path": {
          "type": "string",
          "description": "Path of lockfile",
          "example": "/FutureVuls/package.json"
        },
        "server": {
          "$ref": "#/definitions/ServerChildResponseBody"
        },
        "updatedAt": {
          "type": "string",
          "description": "updated time of lockfile",
          "example": "2018-07-14T08:13:28Z"
        }
      },
      "example": {
        "createdAt": "2018-07-14T08:13:28Z",
        "fileContent": "",
        "id": 1,
        "libraryPkgs": [
          {
            "createdAt": "2018-07-14T08:13:28Z",
            "id": 1,
            "name": "package01",
            "updatedAt": "2018-07-14T08:13:28Z",
            "version": "1.0"
          },
          {
            "createdAt": "2018-07-14T08:13:28Z",
            "id": 1,
            "name": "package01",
            "updatedAt": "2018-07-14T08:13:28Z",
            "version": "1.0"
          },
          {
            "createdAt": "2018-07-14T08:13:28Z",
            "id": 1,
            "name": "package01",
            "updatedAt": "2018-07-14T08:13:28Z",
            "version": "1.0"
          }
        ],
        "path": "/FutureVuls/package.json",
        "server": {
          "createdAt": "2018-07-14T08:13:28Z",
          "defaultUserId": 1,
          "defaultUserName": "vuls user",
          "hostUuid": "141df30a-ecd0-39f4-a8f4-1ef216a4b5f2",
          "id": 1,
          "lastScannedAt": "2018-07-14T08:13:28Z",
          "lastUploadedAt": "2018-07-14T08:13:28Z",
          "needKernelRestart": true,
          "osFamily": "centos",
          "osVersion": "6",
          "serverName": "server01",
          "serverUuid": "abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2",
          "serverroleId": 1,
          "serverroleName": "server_role01",
          "tags": [
            "Fugit repellendus illo.",
            "Aperiam ipsa voluptate autem unde.",
            "Fuga accusamus aut."
          ],
          "updatedAt": "2018-07-14T08:13:28Z"
        },
        "updatedAt": "2018-07-14T08:13:28Z"
      },
      "required": [
        "id",
        "path",
        "fileContent",
        "createdAt",
        "updatedAt"
      ]
    },
    "LockfileGetLockfileDetailResponseBody": {
      "title": "LockfileGetLockfileDetailResponseBody",
      "type": "object",
      "properties": {
        "createdAt": {
          "type": "string",
          "description": "created time of lockfile",
          "example": "2018-07-14T08:13:28Z"
        },
        "fileContent": {
          "type": "string",
          "description": "FileContent of lockfile",
          "example": ""
        },
        "id": {
          "type": "integer",
          "description": "ID of lockfile",
          "example": 1,
          "format": "int64"
        },
        "libraryPkgs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LibraryPkgChildResponseBody"
          },
          "description": "LibraryPkgs of lockfile",
          "example": [
            {
              "createdAt": "2018-07-14T08:13:28Z",
              "id": 1,
              "name": "package01",
              "updatedAt": "2018-07-14T08:13:28Z",
              "version": "1.0"
            },
            {
              "createdAt": "2018-07-14T08:13:28Z",
              "id": 1,
              "name": "package01",
              "updatedAt": "2018-07-14T08:13:28Z",
              "version": "1.0"
            },
            {
              "createdAt": "2018-07-14T08:13:28Z",
              "id": 1,
              "name": "package01",
              "updatedAt": "2018-07-14T08:13:28Z",
              "version": "1.0"
            },
            {
              "createdAt": "2018-07-14T08:13:28Z",
              "id": 1,
              "name": "package01",
              "updatedAt": "2018-07-14T08:13:28Z",
              "version": "1.0"
            }
          ]
        },
        "path": {
          "type": "string",
          "description": "Path of lockfile",
[...]
